<main class="main">
  <div class="header-bar">
    <span class="title">Daniel Widegren</span>
  </div>
  <div class="main-container">
    <div class="playlist-panel">
      <div class="playlist-title">Playlist</div>
      @if (audioPath()) {
        <audio controls [src]="audioPath()">
          Your browser does not support the audio element.
        </audio>
      }
    </div>
    <div class="main-panel">
       @for (release of releases(); track $index) {
        <div class="release-panel">
          <div>{{ release.name }}</div>
          <div>{{ release.artist }}</div>
          @for (song of release.songs; track $index) {
            <div>{{ song.name }}</div>
            <button (click)="play(song)">Play</button>
          } 
        </div>
       }
    </div>
  </div>
</main>

<router-outlet />
